#DIV_left_1 {
    border-block-end-color: rgb(121, 121, 121);
    border-block-start-color: rgb(121, 121, 121);
    border-inline-end-color: rgb(121, 121, 121);
    border-inline-start-color: rgb(121, 121, 121);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(121, 121, 121);
    color: rgb(121, 121, 121);
    column-rule-color: rgb(121, 121, 121);
    height: 100%;
    inline-size: 210px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 1309.2px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 105px 247.6px;
    position: fixed;
    right: 1309.2px;
    text-decoration: none solid rgb(121, 121, 121);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 105px 247.6px;
    width: 210px;
    background: rgb(17 17 17) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(121, 121, 121);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    outline: rgb(121, 121, 121) none 0px;
}/*#DIV_left_1*/

#UL_left_2 {
    block-size: 395.6px;
    border-block-end-color: rgb(121, 121, 121);
    border-block-start-color: rgb(121, 121, 121);
    border-inline-end-color: rgb(121, 121, 121);
    border-inline-start-color: rgb(121, 121, 121);
    box-sizing: border-box;
    caret-color: rgb(121, 121, 121);
    color: rgb(121, 121, 121);
    column-rule-color: rgb(121, 121, 121);
    height: 395.6px;
    inline-size: 210px;
    margin-block-end: 0px;
    margin-block-start: 75px;
    padding-inline-start: 0px;
    perspective-origin: 105px 197.8px;
    text-decoration: none solid rgb(121, 121, 121);
    text-size-adjust: 100%;
    transform-origin: 105px 197.8px;
    width: 210px;
    border: 0px none rgb(121, 121, 121);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    margin: 100px 0px 0px;
    outline: rgb(121, 121, 121) none 0px;
    padding: 0px;
}/*#UL_left_2*/

#P_left_3 {
    block-size: 80px;
    border-block-end-color: rgb(121, 121, 121);
    border-block-start-color: rgb(121, 121, 121);
    border-inline-end-color: rgb(121, 121, 121);
    border-inline-start-color: rgb(121, 121, 121);
    box-sizing: border-box;
    caret-color: rgb(121, 121, 121);
    color: rgb(121, 121, 121);
    column-rule-color: rgb(121, 121, 121);
    height: 80px;
    inline-size: 210px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    perspective-origin: 105px 40px;
    text-align: center;
    text-decoration: none solid rgb(121, 121, 121);
    text-size-adjust: 100%;
    transform-origin: 105px 40px;
    width: 210px;
    border: 0px none rgb(121, 121, 121);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(121, 121, 121) none 0px;
}/*#P_left_3*/

#A_left_4 {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(51, 122, 183);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#A_left_4*/

#IMG_left_5 {
    block-size: 80px;
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    height: 80px;
    inline-size: 80px;
    perspective-origin: 40px 40px;
    text-align: center;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    transform-origin: 40px 40px;
    vertical-align: middle;
    width: 80px;
    border: 0px none rgb(51, 122, 183);
    border-radius: 50%;
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#IMG_left_5*/

#IMG_left_5:after {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#IMG_left_5:after*/

#IMG_left_5:before {
    border-block-end-color: rgb(51, 122, 183);
    border-block-start-color: rgb(51, 122, 183);
    border-inline-end-color: rgb(51, 122, 183);
    border-inline-start-color: rgb(51, 122, 183);
    box-sizing: border-box;
    caret-color: rgb(51, 122, 183);
    color: rgb(51, 122, 183);
    column-rule-color: rgb(51, 122, 183);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(51, 122, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 122, 183);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    outline: rgb(51, 122, 183) none 0px;
}/*#IMG_left_5:before*/

#H5_left_6 {
    block-size: 15.2px;
    border-block-end-color: rgb(242, 242, 242);
    border-block-start-color: rgb(242, 242, 242);
    border-inline-end-color: rgb(242, 242, 242);
    border-inline-start-color: rgb(242, 242, 242);
    box-sizing: border-box;
    caret-color: rgb(242, 242, 242);
    color: rgb(242, 242, 242);
    column-rule-color: rgb(242, 242, 242);
    height: 15.2px;
    inline-size: 210px;
    margin-block-end: 10px;
    margin-block-start: 10px;
    perspective-origin: 105px 7.6px;
    text-align: center;
    text-decoration: none solid rgb(242, 242, 242);
    text-size-adjust: 100%;
    transform-origin: 105px 7.6px;
    width: 210px;
    border: 0px none rgb(242, 242, 242);
    font: 700 14px / 15.4px Nunito-Regular, sans-serif;
    margin: 10px 0px;
    outline: rgb(242, 242, 242) none 0px;
}/*#H5_left_6*/

#H5_left_6:after {
    border-block-end-color: rgb(242, 242, 242);
    border-block-start-color: rgb(242, 242, 242);
    border-inline-end-color: rgb(242, 242, 242);
    border-inline-start-color: rgb(242, 242, 242);
    box-sizing: border-box;
    caret-color: rgb(242, 242, 242);
    color: rgb(242, 242, 242);
    column-rule-color: rgb(242, 242, 242);
    text-align: center;
    text-decoration: none solid rgb(242, 242, 242);
    text-size-adjust: 100%;
    border: 0px none rgb(242, 242, 242);
    font: 700 14px / 15.4px Nunito-Regular, sans-serif;
    outline: rgb(242, 242, 242) none 0px;
}/*#H5_left_6:after*/

#H5_left_6:before {
    border-block-end-color: rgb(242, 242, 242);
    border-block-start-color: rgb(242, 242, 242);
    border-inline-end-color: rgb(242, 242, 242);
    border-inline-start-color: rgb(242, 242, 242);
    box-sizing: border-box;
    caret-color: rgb(242, 242, 242);
    color: rgb(242, 242, 242);
    column-rule-color: rgb(242, 242, 242);
    text-align: center;
    text-decoration: none solid rgb(242, 242, 242);
    text-size-adjust: 100%;
    border: 0px none rgb(242, 242, 242);
    font: 700 14px / 15.4px Nunito-Regular, sans-serif;
    outline: rgb(242, 242, 242) none 0px;
}/*#H5_left_6:before*/

#LI_left_7, #LI_left_11, #LI_left_15, #LI_left_19 {
    block-size: 47.6px;
    border-block-end-color: rgb(121, 121, 121);
    border-block-start-color: rgb(121, 121, 121);
    border-inline-end-color: rgb(121, 121, 121);
    border-inline-start-color: rgb(121, 121, 121);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(121, 121, 121);
    color: rgb(121, 121, 121);
    column-rule-color: rgb(121, 121, 121);
    height: 47.6px;
    inline-size: 190px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 5px;
    margin-block-start: 25px;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    perspective-origin: 95px 23.8px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(121, 121, 121);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 95px 23.8px;
    width: 190px;
    border: 0px none rgb(121, 121, 121);
    font: 15px / 18.5714px Nunito-Regular, sans-serif;
    list-style: outside none none;
    margin: 25px 10px 5px 40px;
    outline: rgb(121, 121, 121) none 0px;
}/*#LI_left_7, #LI_left_11, #LI_left_15, #LI_left_19*/

#LI_left_7:after, #LI_left_11:after, #LI_left_15:after, #LI_left_19:after {
    border-block-end-color: rgb(121, 121, 121);
    border-block-start-color: rgb(121, 121, 121);
    border-inline-end-color: rgb(121, 121, 121);
    border-inline-start-color: rgb(121, 121, 121);
    box-sizing: border-box;
    caret-color: rgb(121, 121, 121);
    color: rgb(121, 121, 121);
    column-rule-color: rgb(121, 121, 121);
    text-decoration: none solid rgb(121, 121, 121);
    text-size-adjust: 100%;
    border: 0px none rgb(121, 121, 121);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(121, 121, 121) none 0px;
}/*#LI_left_7:after, #LI_left_11:after, #LI_left_15:after, #LI_left_19:after*/

#LI_left_7:before, #LI_left_11:before, #LI_left_15:before, #LI_left_19:before {
    border-block-end-color: rgb(121, 121, 121);
    border-block-start-color: rgb(121, 121, 121);
    border-inline-end-color: rgb(121, 121, 121);
    border-inline-start-color: rgb(121, 121, 121);
    box-sizing: border-box;
    caret-color: rgb(121, 121, 121);
    color: rgb(121, 121, 121);
    column-rule-color: rgb(121, 121, 121);
    text-decoration: none solid rgb(121, 121, 121);
    text-size-adjust: 100%;
    border: 0px none rgb(121, 121, 121);
    font: 13px / 18.5714px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(121, 121, 121) none 0px;
}/*#LI_left_7:before, #LI_left_11:before, #LI_left_15:before, #LI_left_19:before*/

#A_left_8, #A_left_12, #A_left_16, #A_left_20 {
    block-size: 47.6px;
    border-block-end-color: rgb(174, 178, 183);
    border-block-start-color: rgb(174, 178, 183);
    border-inline-end-color: rgb(174, 178, 183);
    border-inline-start-color: rgb(174, 178, 183);
    box-sizing: border-box;
    caret-color: rgb(174, 178, 183);
    color: #e1b0b0;
    column-rule-color: rgb(174, 178, 183);
    display: block;
    height: 47.6px;
    inline-size: 190px;
    padding-block-end: 15px;
    padding-block-start: 15px;
    padding-inline-start: 10px;
    perspective-origin: 95px 23.8px;
    text-align: left;
    text-decoration: none solid rgb(174, 178, 183);
    text-size-adjust: 100%;
    transform-origin: 95px 23.8px;
    width: 190px;
    border: 0px none rgb(174, 178, 183);
    font: 15px / 17.1429px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(174, 178, 183) none 0px;
    padding: 15px 0px 15px 10px;
    transition: all 0.3s ease 0s;
}/*#A_left_8, #A_left_12, #A_left_16, #A_left_20*/

#A_left_8:after, #A_left_12:after, #A_left_16:after, #A_left_20:after {
    border-block-end-color: rgb(174, 178, 183);
    border-block-start-color: rgb(174, 178, 183);
    border-inline-end-color: rgb(174, 178, 183);
    border-inline-start-color: rgb(174, 178, 183);
    box-sizing: border-box;
    caret-color: rgb(174, 178, 183);
    color: rgb(174, 178, 183);
    column-rule-color: rgb(174, 178, 183);
    text-align: left;
    text-decoration: none solid rgb(174, 178, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(174, 178, 183);
    font: 12px / 17.1429px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(174, 178, 183) none 0px;
}/*#A_left_8:after, #A_left_12:after, #A_left_16:after, #A_left_20:after*/

#A_left_8:before, #A_left_12:before, #A_left_16:before, #A_left_20:before {
    border-block-end-color: rgb(174, 178, 183);
    border-block-start-color: rgb(174, 178, 183);
    border-inline-end-color: rgb(174, 178, 183);
    border-inline-start-color: rgb(174, 178, 183);
    box-sizing: border-box;
    caret-color: rgb(174, 178, 183);
    color: rgb(174, 178, 183);
    column-rule-color: rgb(174, 178, 183);
    text-align: left;
    text-decoration: none solid rgb(174, 178, 183);
    text-size-adjust: 100%;
    border: 0px none rgb(174, 178, 183);
    font: 12px / 17.1429px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(174, 178, 183) none 0px;
}/*#A_left_8:before, #A_left_12:before, #A_left_16:before, #A_left_20:before*/

#SPAN_left_10 {
    block-size: 16.8px;
    border-block-end-color: rgb(174, 178, 183);
    border-block-start-color: rgb(174, 178, 183);
    border-inline-end-color: rgb(174, 178, 183);
    border-inline-start-color: rgb(174, 178, 183);
    box-sizing: border-box;
    caret-color: rgb(174, 178, 183);
    column-rule-color: rgb(174, 178, 183);
    cursor: pointer;
    display: inline-block;
    height: 16.8px;
    inline-size: 59.5px;
    perspective-origin: 29.75px 8.4px;
    text-align: left;
    text-decoration: none solid rgb(174, 178, 183);
    text-size-adjust: 100%;
    transform-origin: 29.75px 8.4px;
    width: 59.5px;
    border: 0px none rgb(174, 178, 183);
    font: 12px / 17.1429px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(174, 178, 183) none 0px;
}/*#SPAN_left_10*/

#SPAN_left_14 {
    block-size: 16.8px;
    border-block-end-color: rgb(174, 178, 183);
    border-block-start-color: rgb(174, 178, 183);
    border-inline-end-color: rgb(174, 178, 183);
    border-inline-start-color: rgb(174, 178, 183);
    box-sizing: border-box;
    caret-color: rgb(174, 178, 183);
    column-rule-color: rgb(174, 178, 183);
    cursor: pointer;
    display: inline-block;
    height: 16.8px;
    inline-size: 49.1125px;
    perspective-origin: 24.55px 8.4px;
    text-align: left;
    text-decoration: none solid rgb(174, 178, 183);
    text-size-adjust: 100%;
    transform-origin: 24.5562px 8.4px;
    width: 49.1125px;
    border: 0px none rgb(174, 178, 183);
    font: 12px / 17.1429px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(174, 178, 183) none 0px;
}/*#SPAN_left_14*/

#SPAN_left_18 {
    block-size: 16.8px;
    border-block-end-color: rgb(174, 178, 183);
    border-block-start-color: rgb(174, 178, 183);
    border-inline-end-color: rgb(174, 178, 183);
    border-inline-start-color: rgb(174, 178, 183);
    box-sizing: border-box;
    caret-color: rgb(174, 178, 183);
    column-rule-color: rgb(174, 178, 183);
    cursor: pointer;
    display: inline-block;
    height: 16.8px;
    inline-size: 59.25px;
    perspective-origin: 29.625px 8.4px;
    text-align: left;
    text-decoration: none solid rgb(174, 178, 183);
    text-size-adjust: 100%;
    transform-origin: 29.625px 8.4px;
    width: 59.25px;
    border: 0px none rgb(174, 178, 183);
    font: 12px / 17.1429px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(174, 178, 183) none 0px;
}/*#SPAN_left_18*/

#SPAN_left_22 {
    block-size: 16.8px;
    border-block-end-color: rgb(174, 178, 183);
    border-block-start-color: rgb(174, 178, 183);
    border-inline-end-color: rgb(174, 178, 183);
    border-inline-start-color: rgb(174, 178, 183);
    box-sizing: border-box;
    caret-color: rgb(174, 178, 183);
    column-rule-color: rgb(174, 178, 183);
    cursor: pointer;
    display: inline-block;
    height: 16.8px;
    inline-size: 28.8375px;
    perspective-origin: 14.4125px 8.4px;
    text-align: left;
    text-decoration: none solid rgb(174, 178, 183);
    text-size-adjust: 100%;
    transform-origin: 14.4187px 8.4px;
    width: 28.8375px;
    border: 0px none rgb(174, 178, 183);
    font: 12px / 17.1429px Nunito-Regular, sans-serif;
    list-style: outside none none;
    outline: rgb(174, 178, 183) none 0px;
}/*#SPAN_left_22*/

